html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image:url(../images/rock.png);
  margin: 0;
}

#start {
    color:gray;
    font-size:25px;
    font-family: 'Roboto', sans-serif, 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}

#home {
    height: 600px;
    color: transparent;
    font-family: 'Roboto', sans-serif, 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bolder;
    background-color: #dbcbd8;
    background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 1000%;
}
@keyframes animate
{
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }
}

#name {
    font-size: 95px;
}

#title {
    font-size: 50px;
}

#location {
    font-size: 30px;
}

h1 {
    color:gray;
    font-size:35px;
    font-family: 'Roboto', sans-serif, 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
}
#logo {
    color: transparent;
    background-color: #dbcbd8;
    background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 20s linear infinite;
    background-size: 1000%;
}

#contact { 
    font-family: 'Roboto', sans-serif, 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;

}

#carousel1 {
    color:white;
}

#carousel2 {
    color:white;
}

#carousel3 {
    color: black;
}
.nav-item {
    text-decoration: none;
    color: gray;
}
.nav-item1 {
    text-decoration: none;
    color: white;
}
.nav-item2 {
    text-decoration: none;
    color: black;
}

.container2 {
    background-color: rgb(247, 247, 247);
    padding:40px; 
    margin-top:60px;   
    margin-bottom: 60px; 
}
